<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>Actualizar habitacion</title>
</head>
<body>

    <!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
        body{
            background-color: #6f42c1;
        }
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container" py-4 >
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Actualizar Habitacion</h2>
              <h3>piso:{{habitacion.piso}} numero: {{habitacion.numero}}</h3>
              <form action="{% url 'update_habitacion' habitacion.id%}" method="post" name="Nhabitacion" id="Nhabitacion">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input readonly type="number" value="{{habitacion.numero}}" class="form-control" name="numero"  placeholder="Introduzca el numero de la Habitacion">            
                        <label for="number" class="form-label">Numero:</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        
                        <input readonly type="number" value="{{habitacion.piso}}" class="form-control" name="piso"  placeholder="Indique el piso de la habitacion">
                        <label for="number" class="form-label">Piso:</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <input readonly value="{{habitacion.tipo}}"type="text"  class="form-control" name="tipo" placeholder="Indique el tipo de la habitacion">
                            <label for="text" class="form-label">Tipo:</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">    
                            <input type="number"  class="form-control" name="precio" placeholder="Precio de la Habitacion">
                            <label for="number" class="form-label">Precio:</label>
                        </div>
                    </div>
                  </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label for="text" class="form-label">Estado:</label>
                    <input  readonly value="{{habitacion.estado}}" type="text"  class="form-control" name="estado" placeholder="Estado de la habotacion">        
                </div>
  
                <!-- Submit button -->
                <input type="submit" class="btn btn-primary" value="Guardar">
                <input type="reset" class="btn btn-danger" name="Borrar">
                <a href="{% url 'habitaciones_index' %}">Cancelar</a>
  
                
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>