<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Datos de los Huespedes</h1>
    <a href="{% url 'nuevo_huesped' %}">Registro de un nuevo huesped</a><br>
    <a href="{% url 'habitaciones_index' %}">Habitaciones</a><br>
    <table width="90%" align="center" border="1">
        <thead>
            <tr>
                <th>Nro.</th>
                <th>Nombres</th>
                <th>CI</th>
                <th>Correo Electronico</th>
                <th>Fecha de Nacimiento</th>
                <th>Telefono</th>
                <th>Procedencia</th>
            </tr>
        </thead>
        <tbody>
            {% for huesped in huespedes%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{huesped.nombres}}</td>
                <td>{{huesped.ci}}</td>
                <td>{{huesped.email}}</td>
                <td>{{huesped.fecha_nacimiento}}</td>
                <td>{{huesped.telefono}}</td>
                <td>{{huesped.procedencia}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index'%}">Atras</a>
</body>
</html>